<% breadcrumb :course_index %>
<%= breadcrumbs pretext: '', separator: ' / ' %>

<br>
<% if @query %>
  <h2>「<%= @query %>」の全文検索結果</h2>
<% else %>
  <h2><%= @year.year %>年度の授業一覧</h2>
<% end %>

<%= form_with(url: year_courses_path, local: true, method: :get, class: 'form-inline mt-2 mt-md-0') do |f| %>
  <div class="input-group-prepend">
    <%= f.label('シラバス全文検索', class: 'input-group-text') %>
    <%= f.text_field(:query, placeholder: '単語検索', class: 'form-control mr-sm-2')%>
    <%= f.submit('検索', class: 'btn btn-outline-success my-2 my-sm-0') %>
  </div>
<% end %>

<br>
<p>検索やソートに失敗するときはページをリロードしてみてください</p>

<table class="table table_index table-sm table-bordered">
  <thead class="thead-light">
    <tr class='header_row'>
      <th scope="row" class="row_tiny">💬</th>
      <th scope="row">授業科目名</th>
      <th scope="row">英文授業科目名</th>
      <th scope="row" class="row_small">曜日・時限</th>
      <th scope="row" class="row_small">時間割コード</th>
      <th scope="row" class="row_small">開講年次</th>
      <th scope="row" class="row_small">開講学期</th>
      <th scope="row">開講コース・課程</th>
      <th scope="row" class="row_tiny">単位数</th>
      <th scope="row">科目区分</th>
      <th scope="row">開講学科・専攻</th>
      <th scope="row">担当教員名</th>
      <th scope="row">授業関連Webページ</th>
    </tr>
    <tr class='header_row'>
      <th scope="row" class="row_tiny">
        <button id='sort_button_asc' type="button" class="btn btn-light btn-xm" style="font-size: 0.5em;">▲</button>
        <button id='sort_button_desc' type="button" class="btn btn-light btn-xm" style="font-size: 0.5em;">▼</button>
      </th>
      <th scope="row">
        <form class='search_form course_title_japanese'>
          <input class="form-control" type="text" placeholder="正規|表現|ok">
        </form>
      </th>
      <th scope="row">
        <form class='search_form course_title_english'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
      <th scope="row" class="row_small">
        <form class='search_form day_and_period'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
      <th scope="row" class="row_small">
        <form class='search_form timetable_code'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
      <th scope="row" class="row_small">
        <form class='search_form year_offerd'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
      <th scope="row" class="row_small">
        <form class='search_form semester_offerd'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
      <th scope="row">
        <form class='search_form faculty_offering_the_course'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
      <th scope="row" class="row_small">
        <form class='search_form credits'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
      <th scope="row">
        <form class='search_form category'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
      <th scope="row">
        <form class='search_form cluster_and_department'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
      <th scope="row">
        <form class='search_form lecturer'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
      <th scope="row">
        <form class='search_form course_website'>
          <input class="form-control" type="text" placeholder="">
        </form>
      </th>
    </tr>
    <% @courses.each do |c| %>
      <tr>
        <td class='comment_count'><%= c.comments.size %></td>
        <td class='course_title_japanese'><%= link_to(c.course_title_japanese, url_for(controller: 'courses', action: 'show', id: c.uniqueslug))%></td>
        <td class='course_title_english'><%= c.course_title_english %></td>
        <td class='day_and_period'><%= c.day_and_period %></td>
        <td class='timetable_code'><%= c.timetable_code %></td>
        <td class='year_offerd'><%= c.year_offerd %></td>
        <td class='semester_offerd'><%= c.semester_offerd %></td>
        <td class='faculty_offering_the_course'><%= c.faculty_offering_the_course %></td>
        <td class='credits'><%= c.credits %></td>
        <td class='category'><%= c.category %></td>
        <td class='cluster_and_department'><%= c.cluster_and_department %></td>
        <td class='lecturer'><%= c.lecturer %></td>
        <td class='course_website' style="word-wrap:break-word;">
          <% if (url = URI.extract(c.course_website).join("\n")).empty? %>
            <%= c.course_website %>
          <% else %>
            <%= link_to c.course_website, URI.extract(c.course_website).first %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </thead>
</table>
