<div id='top'><div>
<% breadcrumb :course %>
<%= breadcrumbs style: :bootstrap, pretext: '', separator: ' / ' %>


<div class="container">
  <h1><%= @course.course_title_japanese %></h1>
  <%= link_to("同名科目を検索", year_courses_search_path(url_name: @course.url_name), class: 'btn btn-success', type: 'button') %>
  <br>
  <br>
  <a id="comments" class="btn btn-secondary" type="button" href='#bottom'>コメントを見る</a>

  <table class="table table_show">
    <thead class="thead-light">
      <tr>
        <th scope="row">授業科目名</th>
        <td colspan="3"><%= raw @course.course_title_japanese.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">英文授業科目名</th>
        <td><%= raw @course.course_title_english.then{|x|nl2br(x)} %></td>
        <th scope="row">曜日・時限</th>
        <td><%= raw @course.day_and_period.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">時間割コード</th>
        <td><%= raw @course.timetable_code.then{|x|nl2br(x)} %></td>
        <th scope="row">科目番号</th>
        <td><%= raw @course.code.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">開講年度</th>
        <td><%= raw @course.academic_year.then{|x|nl2br(x)} %></td>
        <th scope="row">開講年次</th>
        <td><%= raw @course.year_offerd.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">開講学期</th>
        <td><%= raw @course.semester_offerd.then{|x|nl2br(x)} %></td>
        <th scope="row">開講コース・課程</th>
        <td><%= raw @course.faculty_offering_the_course.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">授業の方法</th>
        <td><%= raw @course.teaching_method.then{|x|nl2br(x)} %></td>
        <th scope="row">単位数</th>
        <td><%= raw @course.credits.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">科目区分</th>
        <td><%= raw @course.category.then{|x|nl2br(x)} %></td>
        <th scope="row">開講学科・専攻</th>
        <td><%= raw @course.cluster_and_department.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">担当教員名</th>
        <td><%= raw @course.lecturer.then{|x|nl2br(x)} %></td>
        <th scope="row">居室</th>
        <td><%= raw @course.office.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">公開E-Mail</th>
        <td><%= raw @course.email.then{|x|nl2br(x)} %></td>
        <th scope="row">授業関連Webページ</th>
        <td style="word-break: break-all;">
          <% if (urls = URI.extract(@course.course_website, ['http', 'https'])).empty? %>
            <%= @course.course_website %>
          <% else %>
            <% html = urls.inject(@course.course_website) do |text, url| %>
              <% text.gsub(url , (link_to url, url)) %>
            <% end %>
          <%= raw html %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">更新日</th>
        <td><%= raw @course.last_updated.then{|x|nl2br(x)} %></td>
        <th scope="row">更新状況</th>
        <td><%= raw @course.update_status.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">主題および達成目標</th>
        <td colspan="3"><%= raw @course.topic_and_goals.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">前もって履修しておくべき科目</th>
        <td colspan="3"><%= raw @course.prerequisites.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">前もって履修しておくことが望ましい科目</th>
        <td colspan="3"><%= raw @course.recommended_prerequisites_and_preparation.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">教科書等</th>
        <td colspan="3"><%= raw @course.course_textbooks_and_materials.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">授業内容とその進め方</th>
        <td colspan="3"><%= raw @course.course_outline_and_weekly_schedule.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">実務経験を活かした授業内容(実務経験内容も含む)</th>
        <td colspan="3"><%= raw @course.course_content_utilizing_practical_experience.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">授業時間外の学習（予習・復習等）</th>
        <td colspan="3"><%= raw @course.preparation_and_review_outside_class.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">成績評価方法および評価基準（最低達成基準を含む）</th>
        <td colspan="3"><%= raw @course.evaluation_and_grading.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">オフィスアワー：授業相談</th>
        <td colspan="3"><%= raw @course.office_hours.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">学生へのメッセージ</th>
        <td colspan="3"><%= raw @course.message_for_students.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">その他</th>
        <td colspan="3"><%= raw @course.other.then{|x|nl2br(x)} %></td>
      </tr>
      <tr>
        <th scope="row">キーワード</th>
        <td colspan="3"><%= raw @course.keyword.then{|x|nl2br(x)} %></td>
      </tr>
    </thead>
  </table>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h2 class="border-bottom border-gray pb-2 mb-0">コメント・感想</h2>
    <% @comments.each do |comment| %>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@<%= comment.contributor  || '匿名' %></strong>
          <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %><br>
          <%= raw comment.text.then{|x|nl2br(x)} %>
        </p>
      </div>
    <% end %>
  </div>

  <h2>コメント・感想の投稿</h2>
  <%= form_with(model: [@year, @course, @comment], local: true, id: 'search_form') do |f| %>
    <div class="form-group">
      <%= f.label '名前', for: 'name_field' %>
      <%= f.text_field :contributor, value: '匿名', class: 'form-control', id: 'name_field' %>
    </div>
    <div class="form-group">
      <label for="comment_field">コメント</label>
      <%= f.text_area :text, class: 'form-control', id: 'comment_field', rows: "3"%>
    </div>
    <%= f.submit('投稿する', class: 'btn btn-primary')%>
  <% end %>
  <br>
  <a id="bottom" class="btn btn-secondary" type="button" href='#top'>ページ先頭へ</a>

  </div>
</div>




